{% extends 'magic/base.html' %}
{% load static %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {% for card in cards %}
        <div class="bg-white dark:bg-gray-900 rounded-lg shadow-md overflow-hidden">
          <div class="aspect-w-16 aspect-h-9">
            <img src="{{ card.img }}" alt="Card Image" class="object-cover w-500 h-10000"/>
          </div>
          <div class="p-4">
            <h3 class="text-white text-lg font-semibold mb-2">{{ card.title }}</h3>
            <div class="flex justify-between items-center">
              <button class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded">
                Add to Collection
              </button>
              <button class="bg-violet-500 hover:bg-violet-600 text-white font-medium py-2 px-4 rounded view-card" data-id="{{ card.id }}">
                View Card
              </button>
            </div>
          </div>
{#          <div class="hidden" id="additional-info-{{ card.id }}" data-mana-cost="{{ card.mana_cost }}" data-oracle-text="{{ card.oracle_text }}" data-flavor-text="{{ card.flavor_text }}"></div>#}
            <div class="hidden" id="additional-info-{{ card.id }}" data-mana-cost="{{ card.mana_cost }}" data-oracle-text="{{ card.oracle_text }}" data-flavor-text="{{ card.flavor_text }}" data-tags="{{ card.tags }}"></div>
        </div>
      {% endfor %}
    </div>

    <div onclick="" id="dialog" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
      <div onclick="popa()" class="bg-white dark:bg-gray-900 rounded-lg shadow-md w-full max-w-3xl p-6">
        <div class="flex justify-between items-center mb-4">
          <h3 id="card-title" class="flex align-middle items-center text-lg font-semibold text-white gap-1">Card Title</h3>
          <button id="close-dialog" class="bg-gray-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded">Close</button>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          <div class="aspect-w-16 aspect-h-9">
            <img id="card-image" src="{% static 'magic/img/placeholder.jpg' %}" alt="Card Image" class="w-full h-full object-cover" />
          </div>
            <div id="hidden-text">
              <pre class="whitespace-pre-line align-middle text-white" id="card-oracle"></pre><br><hr class="hidden" id="id_hr"><br>
              <pre class="whitespace-pre-line block text-white italic" id="card-flavor"></pre>
            </div>
            <div class="whitespace-pre-line align-middle text-white hidden" id="card-tags">
{#                    <h4 class="text-white">Tags:</h4>#}
{#                    <ul id="tag-list" class="text-white"></ul>#}
            </div>
          <div>
            <div class="flex justify-between items-center">
              <button class="bg-blue-500 hover:bg-blue-600 text-white font-medium py-2 px-4 rounded">
                Add to Collection
              </button>
                <button id="tags-button" class="w-40 bg-green-500 hover:bg-green-600 text-white font-medium py-2 px-4 rounded" data-tags="{{ card.tags|join:', ' }}">Tags</button>
            </div>
      </div>
        </div>
      </div>
    </div>

    <script>
    function popa(e) {return e.preventDefault();}
        document.querySelectorAll('.view-card').forEach(button => {
            button.addEventListener('click', function(e) {
                const cardId = this.getAttribute('data-id');
                const moreDetails = e.target.parentNode.parentNode.parentNode.querySelector("div[id*='add']")
                const cardOracle = moreDetails.dataset["oracleText"];
                const cardFlavor = moreDetails.dataset["flavorText"];
                const cardManaCost = moreDetails.dataset["manaCost"];
                const cardImage = e.target.parentNode.parentNode.parentNode.querySelector("img").src;
                const cardText = e.target.parentNode.parentNode.querySelector('h3').innerText;
                const dialog = document.getElementById('dialog');
                const hidden_hr = document.getElementById('id_hr');
                const tags = document.getElementById('card-tags');
                dialog.classList.remove('hidden');

                console.log(moreDetails)
                tags.innerHTML = '!!!';

                if (cardManaCost !== "None")
                    document.getElementById('card-title').innerHTML = cardText + " " + cardManaCost;
                else
                    document.getElementById('card-title').innerHTML = cardText;

                if (cardOracle !== "None" && cardFlavor !== "None") {
                    document.getElementById('card-oracle').innerHTML = cardOracle;
                    document.getElementById('card-flavor').innerHTML = cardFlavor;
                    hidden_hr.classList.remove('hidden');
                }
                else if (cardOracle !== "None" && cardFlavor === "None") {
                    document.getElementById('card-oracle').innerHTML = cardOracle;
                    document.getElementById('card-flavor').innerHTML = null;
                    hidden_hr.classList.add('hidden');
                }
                else if (cardOracle === "None" && cardFlavor !== "None") {
                    document.getElementById('card-oracle').innerHTML = null;
                    document.getElementById('card-flavor').innerHTML = cardFlavor;
                    hidden_hr.classList.add('hidden');
                }
                    else if (cardOracle === "None" && cardFlavor === "None") {
                    document.getElementById('card-oracle').innerHTML = null;
                    document.getElementById('card-flavor').innerHTML = null;
                    hidden_hr.classList.remove('hidden');
                }

                document.getElementById('card-image').src = cardImage;
            });
        });

        document.getElementById('close-dialog').addEventListener('click', function() {
            const dialog = document.getElementById('dialog');

            dialog.classList.add('hidden');
        });

        document.getElementById('tags-button').addEventListener('click', function() {
            const tagList = document.getElementById('card-tags');
            const textList = document.getElementById('hidden-text');
            const buttonName = document.getElementById('tags-button');

            if (tagList.classList.contains('hidden')) {
                tagList.classList.remove('hidden');
                textList.classList.add('hidden');
                buttonName.innerText = "Description";
            } else {
            // В противном случае скрыть их
                tagList.classList.add('hidden');
                textList.classList.remove('hidden');
                buttonName.innerText = "Tags";
        }
        });



    </script>
{% endblock %}